@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700&display=swap');

body {
    font-family: 'Manrope', sans-serif;
    background-color: "#fcfbfb";
    margin: 5%;
    padding: 0;
    line-height: 1.6;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #f26321;
    text-align: center;
    margin-bottom: 2em;
}



.container {
    margin-bottom: 1em;
}

.row {
    display: flex;
    height: 5em;
    width: 100%;
    overflow: hidden;
}

.rectangle {
    /* height: 100%; */
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-weight: bold;

    padding: 0.5em;
    margin-left: 0.5em;
    margin-right: 0.5em;
    border-radius: 0.5em;

    box-shadow: 0.5em 0.5em 0.5em rgba(0, 0, 0, 0.3); 

}
